.button-edit-structure.ui.button {
    height: .8rem;
    line-height: .025rem;
    display: none;
    background-color: #00b5ad;
}

.set-department .ui.button {
    display: block;
}

.button-edit-structure.button:hover {
    background-color: olive;
}

.set-department {
    color: olive;
}

.edit-structure-buttons {
    display: flex;
    flex-direction: row;
}

.edit-structure-buttons-row {
    display: flex;
    flex-direction: row;
}

.folder-name {
    margin-right: 5px;
}

.name-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    cursor: pointer;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.name-with-actions {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 2rem;
}

.children {
    margin-left: 20px;
}

@media (max-width: 1000px) {
    .name-with-actions.set-department {
        flex-direction: column;
        height: auto;
    }
}

@media (max-width: 720px) {
    .name-with-actions {
        height: auto;
    }
}

@media (max-width: 480px) {
    .edit-structure-buttons {
        flex-direction: column;
    }

    .structure {
        padding-right: 2%;
    }

    .folder-name {
        width: 200px;
    }

    .structure .name-wrapper {
        font-size: 14px;
    }

    .edit-structure-buttons-row {
        margin-bottom: 1vh;
    }

    .ui.button.button-edit-structure {
        width: 115.5px;
    }
}
